<h2>Customer Followup Email Tasks</h2>
<p><%= link_to "View first - on screen", {:host => 'www.englandkit.info/reminders', :controller => "fuemail", :action => 'display_one_fu_first'} %></p>
<p><%= link_to "Send first - to Fiona", {:host => 'www.englandkit.info/reminders', :controller => "fuemail", :action => 'send_one_fu_first'} %></p>
<p><%= link_to "Show all - on screen", {:host => 'www.englandkit.info/reminders', :controller => "fuemail", :action => 'show_all_fus'}%></p>
<p>For send all see 'processing'</p>